html, body, #content, #root, #app-container{
    height: 100%;
    overflow: hidden;
}

h1, h2, h3, h4, h5, li, textarea {
    font-family: Arial, Helvetica, sans-serif
}

h1{
    font-size: 2.5em;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: bolder;
}

h2 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 10%;
    font-size: 1.7em;
    font-weight: bold;
}

h5 {
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 3%;
    display: inline-block;
}

#content {
    display: flex;
}

#app-header {
    padding-left: 2%;
    padding-top: 3px;
    padding-bottom: 3px;

    background-color: rgb(51, 51, 51);
}

section aside {
    padding-top: 1%;
    display: block;
    
    height: 100%;
}



#task-container {
    padding: 1% 1% 1% 1%;
    width: 50%;
}

#project-container{
    width: 20%;
    text-align: center;
}

#details-container{
    width: 30%;
    border-left: 1px solid black;
}

ul {
    list-style: none;
    padding: 0;
}
.task-list li {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: solid 1px rgb(190, 190, 190);
    border-top: solid 1px rgb(190, 190, 190);
}

.task-item div {
    vertical-align: middle;
    width: 100%;
}

.task-right{
    float: right;
    padding-right: 3px;
}

input[type="text"], input[type="submit"], input[type="password"], button, .task-item {
    font-size: 14pt;
}

input[type="checkbox"]{
    margin-right: 2%;
    transform: scale(1.5)
}

#new-task-name{
    width: 50%;
}

#new-project-name{
    width: 50%;
}

.new-task-date {
    width: 30%
}

span {
    display: inline;
}

#ongoing .important {
    color: red;
    font-weight: bold;
}

#completed{
    color: grey;
}

input[type="date"]{
    display: inline;
    font-size: 14pt; 
}

.add-button{
    background-color: transparent;
    border: none;
    font-weight: bolder;
    font-size: 20pt;
    color: rgb(255, 86, 86);
    transform: scale(1.5);
}

#details-container .delete-button{
    margin-top: 5%;
    margin-right: 3%;
    float:right;
}

.list-element{
    border : none;
    background-color: transparent;
    border-collapse: collapse;
}

.project-element:hover {
    font-weight: bold;
}

input[type="checkbox"]{
    border-radius: 50px;
}

input[type="text"], input[type="date"], input[type="password"]{
    border-radius: 5px;
    border: 1px solid grey;
    padding: 5px 10px 5px 10px;
    color: rgb(26, 26, 26);
    background-color: #F4F4F4;
}

aside, #task-container {
    overflow-y: auto;
}

#new-task{
    margin-bottom: 1%;
}

#new-task input{
    margin-left: 1%;
}

.delete-button{
    background: url('../images/trash.png') no-repeat;
}

.edit-button{
    background: url('../images/pencil.png') no-repeat;
}

.delete-button, .edit-button{
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: contain;
    border: none;
}

#project-container{
    color: white;
    background-color: rgb(94, 94, 94);
}

#edit-task-name{
    width: 50%;
}

#details-container textarea{
    display: block;
    width: 75%;
    font-size: 12pt;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

#details-container .description{
    display: block;
    border: 1px solid black;
    padding: 3%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

#details-container h3 {
    font-size: 16pt;
}

#details-container {
    padding-left: 3%;
}

#task-container h4{
    font-size: 16pt;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 1%;
    font-weight: bold;
}

#inbox-project, #new-project-form-container{
    font-size: 18pt;
    font-weight: bolder;
}

.task-item:hover{
    background-color: rgb(237, 237, 237);
}

#new-project-form-container:hover, #inbox-project:hover{
    color: rgb(255, 86, 86);
}

#project-list {
    padding-top: 4px;
    padding-bottom: 4px;
    
    border-top: 3px solid #353535;
    border-bottom: 3px solid #353535;
    
    margin-top: 10px;
    margin-bottom: 10px;
}

#project-list li {
    display: block;
    height: auto;
    font-size: 16pt;
    margin-top: 10px;
    margin-bottom: 10px;
}


#app-container {
    background-color: white;
}

#root {
    background-color: rgb(51, 51, 51);
}

.user-form-container {
    margin-top: 10%;
    background-color: white;
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 8px;
    padding: 5px;
}

.user-form-container input {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

h4 {
    font-size: 26pt;
    color: rgb(255, 86, 86);
    font-weight: bolder;
    margin-bottom: 10px;
}